<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ONEBOX</title>
    <script type="module" crossorigin src="/assets/index.4c799615.js"></script>
    <link rel="stylesheet" href="/assets/index.f47c7369.css">
  </head>
  <body>
    <div id="loading">
      <img
        src="/assets/logo.678b326d.png"
        alt="loading"
        id="loading-widget"
        draggable="false"
      />
    </div>
    <div id="app"></div>
    
    <!-- <script src="https://unpkg.com/spacingjs" defer></script> -->
  </body>
</html>
