<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.onebox.home.mapper.FileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.turing.onebox.common.model.dto.FileInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="dir" property="dir" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="real_path" property="realPath" jdbcType="VARCHAR" />
    <result column="in_recycled" property="inRecycled" jdbcType="INTEGER" />
    <result column="star" property="star" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.turing.onebox.common.model.dto.FileInfo" >
    insert into file (id, name, dir, 
      type, ext, size, real_path, 
      in_recycled, star)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{dir,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{realPath,jdbcType=VARCHAR}, 
      #{inRecycled,jdbcType=INTEGER}, #{star,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.turing.onebox.common.model.dto.FileInfo" >
    update file
    set name = #{name,jdbcType=VARCHAR},
      dir = #{dir,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      real_path = #{realPath,jdbcType=VARCHAR},
      in_recycled = #{inRecycled,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, dir, type, ext, size, real_path, in_recycled, star
    from file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, dir, type, ext, size, real_path, in_recycled, star
    from file
  </select>

  <select id="seleteFileByDir" resultType="com.turing.onebox.common.model.dto.FileInfo">
    select *
    from file where dir = #{dir,jdbcType=INTEGER} and in_recycled = 0
  </select>

<!--FileInfo selectFileByFileNameAndDir(String fileName, Integer dir);-->
  <select id="selectFileByFileNameAndDir"  resultType="integer">
    select COUNT(*)
    from file
    where     name=#{fileName} and dir=#{dir}
  </select>

  <select id="starredList" resultMap="BaseResultMap" >
    select * from starred where in_recycled = 0
  </select>

  <select id="getFileInfoByDirId" resultType="com.turing.onebox.common.model.dto.FileInfo">
    select * from file where dir = #{id}
  </select>

  <update id="editFileRecycledByFileId" parameterType="java.lang.Integer" >
    update file
      set in_recycled = 1
    where id=#{id,jdbcType=INTEGER}
  </update>
  <update id="editFileRecycledByFolderId" parameterType="java.lang.Integer">
    update file
     set in_recycled = 1
    where dir =#{id,jdbcType=INTEGER}
  </update>
</mapper>